[2017-05-20 09:00] alpakeno opened #1 "add a posibility to dim screen more?"
Background screen get more dimmer when opening the notification icon ( the top righted icon in the corner of screen )
so can it be possible for vitabright to use that value?

[2017-05-20 09:02] alpakeno opened #2 "does it harm the screen\hardware if it used for hours?"
As an example make it overheated etc.

[2017-05-20 12:50] devnoname120 commented on #1
Dimming the screen in a hardware manner (like I do) is different from applying a semi-transparent filter (like vFlux and the background when opening notifications). The later is not good for performances (unless done with a shader), and I suspect that the contrast is worse than with a hardware method.

It is definitely possible to lower the screen brightness even more than vitabright already does.

[2017-05-20 12:53] devnoname120 commented on #2
I don't think it does, and I used it for several hours without any issues. If anything, this should put less strain on the screen than playing at higher brightnesses.

[2017-05-20 12:53] #2 closed

[2017-05-27 23:19] Osaul4ik opened #3 "low brightness after unlock"
After unlock my vita, i found what brightness is low. (but not lowest)
Can you fix this pls? s-ry. Bad English

[2018-03-14 17:58] eiiiiix opened #4 "max brightness on reboot"
when ever i reboot or unlock the screen brightness goes to maximum but is still shown in minimum spot

[2018-04-06 15:31] devnoname120 commented on #4
Duplicate of https://github.com/devnoname120/vitabright/issues/3.

[2018-04-06 15:31] #4 closed

[2018-04-06 16:26] devnoname120 commented on #3
Fixed in 0.5.

Use this brightness table.
[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/1884796/vitabright_lut.txt)

[2018-04-06 16:32] #3 closed

[2018-04-06 16:35] devnoname120 commented on #1
Version 0.5 allows you to provide your own brightness table. Each line corresponds to a brightness level. By changing the values, you should be able to figure out how to get a lower brightness.

[2018-04-06 18:36] CelesteBlue-dev commented on #1
@devnoname120 please may you provide an exemple of config (for exemple the one you use).

[2018-04-06 19:11] alpakeno commented on #1
@devnoname120 thanks a lot for updating this awesome plugin.
Is there any method or tool needed that can help getting the brightness table?

[2018-04-15 21:09] eiiiiix commented on #4
rip
thanks for the update though!

[2018-05-04 00:35] Outpox commented on #1
@CelesteBlue-dev @alpakeno you should take a look at [this post](https://github.com/devnoname120/vitabright/issues/3#issuecomment-379305512) in which the author gives a config file for example.

[2018-05-06 10:56] justalex95 opened #5 "Vitabright is an exploit to enable full brightness and max clocks"
Hey, I've found out a way to use vitabright to bypass the 80% brightness lock imposed by sony.

I've made a post here: https://www.reddit.com/r/vitahacks/comments/8h1mgh/vita_true_100_brightnessmax_clock_hack/?sort=new

I dont know how it does it but its a combination of vitabright setting a brightness level outside of sony's brightness settings and restarting through henkaku settings. setting bri

[2018-05-06 12:13] #5 closed

[2018-05-17 22:11] devnoname120 opened #7 "gamma table not used on start"
Need to send the new gamma line to the screen by doing this after LUT injection:
[code]

[2018-05-21 13:17] eiiiiix commented on #7
best way i can think of doing this would be
get the current value > maximum > minimum > original value

[2018-05-21 14:34] eiiiiix commented on #7
Fix: load bootconfig from ux0: and config from ur0:
Breaks wireless controllers but autoloads gamma

[2018-05-22 00:46] devnoname120 commented on #7
I have no idea what you mean. Getting the current value is not something that can fail, why would I fall back to those values?

Vitabright already tries to load from ur0 and if it fails from ux0.

[2018-05-22 16:52] eiiiiix commented on #7
I have my bootconfig loading from ux0:tai/eix/boot.txt and have umount_bootfs  removed
and i have all my plugins and my config loading from ur0:tai/eix/ and ur0:tai/
When i boot like this it will auto set to the custom gamma
Wireless controllers like the ds4 and wiimote (when used with nunchuk) break with it like this
But i think the wireless controller issue is just me having so many plugins bein

[2018-06-09 15:45] #7 closed

[2018-06-09 18:17] #1 closed

[2018-11-20 00:09] SiTWulf opened #9 "Not Work?"
Hi.
Im using the Old Vita FAT with OLED and 3.65 Enso.
Trying to  down brightness above the normal minimum with not luck... and not see any difference with plugin at max or low bright slider.

Tested in Main Vita Menu.

[2018-11-25 13:10] devnoname120 commented on #9
Can you try to disable all your plugins but vitabright?
Make sure also to delete `ux0:/tai` and only use `ur0:/tai`.

[2018-11-27 20:08] SiTWulf commented on #9
your plugin are installed in `ur0:/tai ` and not exists `ux0:/tai`

Im using GameSD to UX0 and Original Memory Card to UMA0

[code]

[2018-11-28 12:05] devnoname120 commented on #9
Can you try with this configuration file?

[code]

Also, make sure to use [the latest version](https://github.com/devnoname120/vitabright/releases/latest) and that you put the file `vitabright_lut.txt` from this version in `ur0:/tai`.

[2018-11-28 17:19] SiTWulf commented on #9
I find the problem!!!

The problem is the installed Plugin.
Im using the plugin included in: [AutoPlugin](https://github.com/theheroGAC/Autoplugin) and looks outdated.

[2018-11-28 19:21] devnoname120 commented on #9
I see, thank you for reporting the issue!

[2018-11-28 19:21] #9 closed

[2019-01-21 08:38] 6436437Numbers opened #10 "Vitabright never works"
Hello sir, I have the Vita 1000 OLED 3.60 Ensō and I installed your vitabright. It has no effect from what I can see. I downloaded the files(vitabright.skprx, vitabright_lut.txt) from the latest release 0.9 and put them in the ur0:/tai/ folder. There's no tai folder in ux0. I restart the vita and change the brightness levels. No effects at all.
This is my config.txt file
[code]
I gone over the con

[2019-01-21 09:06] devnoname120 commented on #10
Could you try transferring the plugin and `vitabright_lut.txt` via FTP (or USB if you used FTP)?

[2019-01-22 05:19] 6436437Numbers commented on #10
FTP was the previous method. Following your suggestion, both the plugin and `vitabright_lut.txt` was transferred via USB. I restarted the vita to be certain and then changed the brightness setting by holding down the PS button. I saw zero changes from the default luminosity. It may not matter but when I tried the 0.1 version, there was a difference. I made no modification to the gamma table. The f

[2019-01-23 20:45] devnoname120 commented on #10
I'm sorry I don't have any ideas. If you have a working vitasdk install, I suggest you to:
- Compile it by doing `mkdir build && cd build && cmake .. -DENABLE_LOGGING=ON`.
- Transfer the compiled plugin to your Vita.
- Restart your Vita.
- Try to move the slider and stuff.
- Send here the log `ur0:data/vitabright_log.txt`.

[2019-01-23 22:24] K4thos commented on #10
change this line in your config.txt:
ur0:/tai/vitabright.skprx
to this:
ur0:tai/vitabright.skprx

[2019-01-23 23:22] devnoname120 commented on #10
That shouldn't change anything.

[2019-01-28 16:20] rafaelqueiroz89 commented on #10
@devnoname120 i have the same problem, i will try your debugger and show you the log. I have henkaku and 3.60

[2019-02-01 21:12] devnoname120 opened #11 "Brightness change due to inactivity can do a 'jump'"
If the current brightness is lower than the brightness level for inactivity, the brightness will suddenly 'jump' when the vita is inactive.

Possible fix: ignore inactivity if the inactivity brightness is greater than the current brightness.

[2019-02-08 14:30] devnoname120 opened #12 "Increase the granularity of the brightness (currently there are 16 brightness levels)"
Currently the brightness tables are replaced right into the SceOled / SceLcd modules. One limitation is that there are only 16 different levels of brightness.

This could be changed especially for LCD devices since the slider from the Vita UI has way more than 16 levels.

This would be complicated for OLED since their lookup table is not very well understood yet. But for LCD devices this should be

[2019-02-08 15:11] #11 closed

[2019-02-08 16:50] unhawkable commented on #11
@devnoname120 thank you so much for adding support for vita 2000!!!

[2019-02-09 07:15] prashantkamdar opened #13 "Vitabright doesn't work"
As the title says - vitabright doesn't work for me.
I've browsed the issues and found a plugin with logs enabled from this thread: https://github.com/devnoname120/vitabright/issues/10
I used it and have attached my log below.
Using the hacks.guide, my "tai" folder in ux0 is deleted.
Only ur0 tai folder exists.
Have also attached the config file that is being used.
vitabright_lut.txt file is presen

[2019-02-09 14:00] devnoname120 commented on #13
Could you try again with the latest version?
Attached is a debug version.

[2019-02-09 14:26] #10 closed

[2019-02-09 15:41] prashantkamdar commented on #13
Found the log at - ur0:/data/vitabright_log.txt

[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/2847951/vitabright_log.txt)

[2019-02-09 21:20] devnoname120 commented on #13
Interesting, the log suggests that it works properly.
Could you send me the module `os0:/kd/oled.skprx`?

[2019-02-10 08:11] prashantkamdar commented on #13
Please rename from txt to skprx the file since github wasn't letting me upload .skprx.

[oled.txt](https://github.com/devnoname120/vitabright/files/2848643/oled.txt)

[2019-02-10 12:25] devnoname120 commented on #13
There is nothing abnormal in the log, and your module version has the correct offset.
Could you give me the log corresponding to this version?
[vitabright.zip](https://github.com/devnoname120/vitabright/files/2848847/vitabright.zip)

[2019-02-10 15:47] prashantkamdar commented on #13
Here you go:
[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/2849065/vitabright_log.txt)

[2019-02-10 17:03] devnoname120 commented on #13
I wonder if this might be a taiHEN issue because as far as the log is concerned, everything looks alright.

[2019-02-11 09:32] prashantkamdar commented on #13
I just found out about IMCUnlock after I googled it after you wrote it here. Didn't even know about this earlier.
So no, I am not using IMCUnlock.

I've requested a friend for his hacked vita so that I can test your plugins there.
Will run the same diagnostics and see what happens.

Will report back in 5-7 hours as of writing this.

[2019-02-11 18:57] prashantkamdar commented on #13
I've finished trying several things and none of them work.
For all of the below test cases, I've used the latest test build provided by you in this thread.

1) In one of your other issue threads, you recommended using usb transfer if wifi transfer has been used. Did that, didn't work.

2) I hard reset my console (power+ps+R) and formatted my memory card. Installed h-encore with help from final-he

[2019-02-13 01:39] devnoname120 commented on #13
I'm not sure what happens, could you try this?
https://www.reddit.com/r/vitahacks/comments/aohjz2/vitabright_10_now_supports_lcd_screens_ps_vita/egc8221/

[2019-02-17 17:04] prashantkamdar commented on #13
I just did that.
Still doesn't work.

[2019-03-03 09:45] prashantkamdar commented on #13
I found somewhere on reddit that the first version works.
So I tried 0.01 version from your releases.

I had the lowest setting of brightness on and then I rebooted.

After rebooting the console and going to the brightness settings menu, the brightness jumps to slightly low than before.

So ya, your note of

seems to be working on my vita with 0.01 release.

[2019-03-04 16:50] prashantkamdar commented on #13
Do you think logging `lut_inject` from https://github.com/devnoname120/vitabright/blob/73a8af51b2a9fbca6b1914ef3808f2b0a4ca0902/oled/hooks.c#L88 will help?

[2019-03-05 13:01] devnoname120 commented on #13
Indeed, this is fixed now.

Can you give me the logs that this version produces?
[vitabright.zip](https://github.com/devnoname120/vitabright/files/2930993/vitabright.zip)

[2019-03-05 17:10] prashantkamdar commented on #13
`vitabright started...
[OLED] getmodninfo: 0x00000000
[OLED] modid: 0x000100F7
[OLED] Size ok, hooking...
[OLED] OS version: 0x03650000
, table offset: 0x00001E00, ksceOledGetBrightness_addr: 0x000012BD, ksceOledSetBrightness_addr: 0x00000F45
[OLED] injectdata: 0x00011E81
[LCD] getmodninfo: 0x90010002
[LCD] modid: 0x00011651
`

[2019-03-05 17:10] prashantkamdar commented on #13
different log!
[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/2931971/vitabright_log.txt)

[2019-03-05 17:34] araujojr82 commented on #13
Hello guys, I'm facing the same problem here.

My PSVita is version PCH-1001. I've tried just about everything on this topic and more. I was using 3.68 with h-encore but after no success, I thought that maybe enso would help, so I downgraded to 3.65 and using h-encore with enso. That didn't work either.

Also, I've tried with AND without SD2VITA.

Here are some of my files.
os0:/kd/oled.skprx:
[ol

[2019-03-06 01:57] SDM855 commented on #13
Facing the same problem

Mine is PCH-1000 Japanese version(3.60 enso). This plugin works on my PCH-2000(3.60 enso) without any problem.

And I cannot find "data" folder under ur0, I cannot find it on PCH-2000 either(although it works).

The attachment is oled.skprx, hope it helps
[https://github.com/SDM855/PSV/blob/master/oled.skprx](url)

[2019-03-06 02:20] araujojr82 commented on #13
Just create the "data" folder using VitaShell in ur0 and use one of those versions with activated log and it shall produce some log files on the folder.

[2019-03-06 05:18] SDM855 commented on #13
Thanks to araujojr82's help
I got the vitabright_log.txt (for today's version)
hope it helps
[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/2934517/vitabright_log.txt)

[2019-03-06 18:06] devnoname120 commented on #13
All your logs indicate that the table injection works properly...
My bet is some sort of issue in taiHEN or some kind of race condition.

[2019-03-06 18:31] SDM855 commented on #13
Tried on formatted new system, still no luck...
Just curious, as I see in above attachments, the working modid is 0x000100F5, ours are 0x000100F7. Is that means Sony use different OLED panel?

[2019-03-06 18:46] devnoname120 commented on #13
I don't think so, this is a UID so it should depend on the module load order.
I've confirmed that some people have `0x000100F5` and others `0x000100F7` and it works for both of them.

[2019-03-24 19:33] maskmark commented on #13
right.it works on one of my 1000，the screen goes orange by default.
on my other 1000，it just do nothing.
they are both on 3.65 encore enso.I even tryed use a ux0 config.txt with only this plugin to test both one. and yes, still worked for one and do nothing on the other.

[2019-03-25 11:08] darkkomdld commented on #13
i just have the same problem here: One of my consoles dont run it but!!!! being enso 3.60 both in that one i cant find repatch for 3.65  or make it works. I dont knwo if it relate. Thx we dont just need repach only nowadays. They both model are 1004. I just find one difference the one is failing its serial code 2A, the one is working is serial model 2D. So they are same model but the one its no wo

[2019-03-25 11:09] darkkomdld commented on #13
i need help....

[2019-04-11 09:09] junhawng commented on #13
[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/3067833/vitabright_log.txt)
I get a parsing error with my vita 1000. What could be the problem?  Thank you.

[2019-04-11 09:43] devnoname120 commented on #13
@junhawng Your `vitabright_lut.txt` file is incorrect, make sure that you follow the formatting and that you use Unix line endings (`\n`), and not Windows line endings.

[2019-04-12 00:35] junhawng commented on #13
I was able to get it working but I'm not able to notice an actual difference with the display brightness. How can I be certain it's working?

[2019-04-28 14:10] afdc98 opened #14 "My further modified gamma table"
Part of my past gamma table was used in one of the releases, but I have modified it further so night mode (the left extreme of the brightness bar, an orange filter) is more dim, as well as the last steps, plus the right side is brighter than default, so there is more contrast between steps mostly

[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/3125070/vitabright_lut.txt)
.

[2019-04-28 19:55] devnoname120 commented on #14
Thanks!

[code]

[2019-04-30 22:49] Padankadank commented on #13
Just throwing my troubles in here too, PCH-1101, 3g oled vita 1000. On 3.65 h-encore.

I used the debug version, it says it runs correctly but I dont see any noticeable difference when sliding the brightness slider all the way down

[2019-05-15 14:30] WBSpitfire opened #15 "Brightness not changing"
Model: 1101 3G OLED / 3.60 Enso
I installed the Vitabright plugin but noticed it wasn't working. Looking at the other issues, I noticed that there was a debug 1.0 version to get a log, and it is as follows:

~~From reading this thread: https://github.com/devnoname120/vitabright/issues/13 , I saw that this is~~ ~~due to either incorrect formatting of the lut.txt or not having the unix line ending f

[2019-05-15 15:25] devnoname120 commented on #15
In this case it seems to be the same issue as https://github.com/devnoname120/vitabright/issues/13.

[2019-05-15 15:25] #15 closed

[2019-05-22 10:39] hamodehsabie commented on #13
The issue is the screen itself. I have 2 vitas one works with v1 and the other one on works with the first version (semi working one)
I swapped motherboards and the sides boards and both devices boards works with the plugin with 1 screen the other screen panel doesnt work with vitabright
And i even tried 3.60 , 3.65 , 3.68 firmwares on both devices with correct setup of the plugin using auto plugi

[2019-05-22 12:18] devnoname120 commented on #13
@hamodehsabie If this is not too much of a bother, could you try just swapping the two screens? This would help confirm beyond doubts that the screen is indeed the root cause.

Also, please give me any serial number of information that you can get about the screens (maybe they are different models and one of them doesn't support custom gamma tables?).

[2019-05-22 20:46] hamodehsabie commented on #13
This is exactly what i was trying to say i swapped the 2 screens and the boards and only one screen was working with vita bright
Both vitas are OLED 1101 model

[2019-05-22 20:57] devnoname120 commented on #13
Interesting. Anything about the serials or any numbers appearing on the physical screens?

[2019-05-23 15:44] hamodehsabie commented on #13
Sorry for my long replies, i will reply faster now
And what do you mean on the physical screens ?
Because i swapped the whole front panels u cant see the back of the screen its covered from the back on the screen cable is visible
But both devices are the same even the same bundle with walking dead game card gift
Its really strange because i thought its the mother board issue but when i swapped bot

[2019-05-24 18:01] devnoname120 commented on #13
It's possible that some screens don't accept new gamma tables. The semi-working version wasn't replacing the gamma table, it was only forcing the "dimmed brightness after inactivity" level to be enabled even when there is activity.

[2019-05-25 14:30] hamodehsabie commented on #13
Update: i confirm the Screens version of the 2 OLED model 1101 are different the one with the model number ( OLED B313 ) is the one that works with all versions of vita bright
The other screen version is (OLED B 106 ) and that one only works with the semi working version of Vitabright
I open the devices again and i notice the models on the back of the screen cable.

[2019-05-27 20:22] devnoname120 commented on #13
Hm that's interesting. I would love to have confirmation from other users to make sure that OLED B106 never works and OLED B313 always works.

Could you take a picture of these two references? This would allow other users to find their reference more easily.

[2019-05-29 19:09] WBSpitfire commented on #13
I took apart my Vita looking for the OLED model, but was unable to find it. Do you have to "bake" the front panel to separate the adhesive to see the model? Or am I just blind?

[2019-05-30 22:07] UniLastation commented on #13
I can confirm that I have an OLED model B106-23704 for a PCH-1001, and an OLED model AB29-03039 for a PCH-1000. Both of which do not work for any but the 0.01 release of VitaBright.

[2019-06-05 23:30] Padankadank commented on #13
Just wanted to confirm that only v0.1 works on my vita, im having the same problem as everybody else here

[2019-06-06 16:53] devnoname120 commented on #13
@Padankadank Could you check the OLED model of your vita? You can see above how others were able to find it.

[2019-06-11 00:57] hamodehsabie commented on #13
WBSpotfire: yes this is where i located it but only on the red circled cable because this cable is visible after removing the boards but the where is the green circled part you have to remove the screen panel from the front to look at it which mean removing the the and such things

Devnoname: i cant confirm now because the working one is with its owner now
And i dknt want to keep opening the devic

[2019-06-11 07:08] pthfdr-42 opened #16 "Further decrease the brightness?"
Well, I think that an "extremely dim" mode is a good idea: it is useful when you are playing in a dark place (and further saves battery). Most smartphones can achieve low brightness with an OLED screen.
I tried to use [prediction](https://docs.google.com/spreadsheets/d/1aR4IFydC1XOxHqKEplI6jMa7NJ7rbuxlY4wr3MS0YRc/edit#gid=0&range=A148) and [ratios](https://docs.google.com/spreadsheets/d/1aR4IFydC1

[2019-06-11 21:19] devnoname120 commented on #16
Your documents are not accessible from here. Can you make them public?

[2019-06-12 02:49] pthfdr-42 commented on #16
Here is what I have tried. Both do not work and it defaulted to the original table.
Table 1 (predict):
[code]
Table2 (ratio):
[code]

[2019-06-17 19:01] adrianbass360 commented on #14
Dang, I don't get how to change the gamma ratio on this application. Can someone do one where the vita retains it's originals colors, just with both higher and lower brightness levels?

[2019-06-17 19:02] adrianbass360 commented on #13
Dang, I don't get how to change the gamma ratio on this application. Can someone do one where the vita retains it's originals colors, just with both higher and lower brightness levels?

[2019-06-17 19:07] adrianbass360 commented on #12
Dang, I don't get how to change the gamma ratio on this application. Can someone do one where the vita retains it's originals colors, just with both higher and lower brightness levels?

[2019-07-22 10:50] olokos commented on #13
I have the same issue. I already tried workarounds that worked for others including [disabling 3G in registry](https://www.reddit.com/r/vitahacks/comments/96p9zk/vita_bright_works_on_368_cfw/e434anj/) and going into flight mode. 3.65 Enso

Log for vitabright 1.0-debug

[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/3416863/vitabright_log.txt)
Log for the second vitabright pl

[2019-07-22 12:59] devnoname120 commented on #13
@olokos
1) Could you try again with this version? https://github.com/devnoname120/vitabright/issues/13#issuecomment-469671030

2) Could you give me all the serial numbers that appear on the physical OLED screen? You can scroll a bit up to find out where other users found them (this will require you to open your Vita).

[2019-07-23 23:01] olokos commented on #13
@devnoname120
1. Certainly
[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/3424361/vitabright_log.txt)
I might have mixed them up, even thought I checked it multiple times, now it's surely spot on, just pulled it off device.

2. I can do it, but I can't tell exactly when, hopefully by the next week.

[2019-07-23 23:18] devnoname120 commented on #13
Alright I don't see anything wrong in the log. Looking forward to your OLED numbers.

[2019-07-27 17:50] CelesteBlue-dev commented on #13
To better identify the PSVita which could have such a weird screen,
I ask each of you to open modoru app by TheFloW and to report the minimal FW version it tells you. For exemple my main Psvita could go down to 1.61. My other PSVita 1.06.

[2019-07-28 02:22] olokos commented on #13
@CelesteBlue-dev took me a while to disable all plugins, but hey, still miles easier than disassembling the thing!

Sadly after doing so it updated my database leaving me with nothing but default apps. I keep near app replaced with vitashell as fallback in case of this kind of situation. I'm away on holidays until around Monday so this is typed on mobile.

Is there some other good way of checking

[2019-07-28 08:12] CelesteBlue-dev commented on #13
@olokos I don't understand. Launch modoru with L and R being pressed. Read the version then close modoru. Don't attemt downgrade it' not useful.

[2019-07-28 17:40] WBSpitfire commented on #13
Minimal firmware version for my Vita 1001 is 1.06.

[2019-07-29 01:09] olokos commented on #13
Same here, minimal firmware version 1.06. I have replacement battery on the way to me now, I'll check the model under the screen once it arrives.

[2019-07-31 22:35] devnoname120 commented on #16
The gamma table is indeed a bit hard to tune. I've tried a similar approach in the past by fitting polynomials to each column: https://github.com/devnoname120/vitabright/blob/archive/lower/build_lookup.py

It didn't work well so I stuck with gamma tables built by users by trial and error.

The up-to-date information about the format of the gamma table can be found here, that's all we know: https:/

[2019-07-31 22:35] #16 closed

[2019-08-04 01:13] JosePepowner commented on #13
Same issues as above. I just pulled my Vita out my tech bag after over 6 years and realized this screen is super bright. And yes I installed everything correctly. All other plugins work perfectly. Although I just did all the hacking yesterday I know it's all good. Been rooting phones since jellybean and that can get way more confusing.

My Vita is an American day 1 release. If that helps at all. I

[2019-08-19 03:47] LuanTeles opened #17 "Doesnt work on My PS2000"
I installed it right, rebooted

and the brightness doesnt increased at all, the slider is where i left it before the install.

But now the minimum value is way darker, i not have the yellow or other option sliding it even down.

but what buggs me the most is not beeing able to increase the brightness

[2019-08-19 03:48] LuanTeles commented on #17
I forgot to mention I'm on 3.65 H-encore

[2019-08-26 00:38] LuanTeles commented on #17
I saw some ppl with the same issues, maybe a diferente screen revision?

[2019-08-26 00:42] LuanTeles commented on #13
I got the same problem but with a slim one, the minimum works, but the maximum didnt increase a bit

[2019-08-26 01:29] devnoname120 commented on #17
No yellow is normal (it's only for OLED screens), and screen getting darker is normal, that's the entire point of this plugin.

[2019-08-26 01:30] #17 closed

[2019-08-26 01:30] devnoname120 commented on #13
That's because it's not possible to increase it further on the slim.

[2019-09-17 13:16] PeL-H1N1 opened #18 "My little contribution for the community. (Gamma table with a gradual and balance brightness reduction)"
This is a gradual and balance brightness reduction with 16 line of code including two night mode, Flux-like Orange tone, easy on the eyes and Flux-like Ember tone, sleepy mode but can still play
Made request my the maker.

Big Thanks to Sir. devnoname120
For this giving us the vitabright.

[2019-09-17 13:21] PeL-H1N1 commented on #18
[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/3621444/vitabright_lut.txt)

[2019-09-17 17:31] devnoname120 commented on #18
Awesome!

[code]

[2019-10-30 00:06] Ehren1337 opened #19 "PSP 1000 Vitabright 1.0"
After i installed Vitabright 1.0 version and then restart the PS Vita. It shows up like slight orange color with line on right side that has regular color. i thought it might be just the plugin so i deleted it then restarted it and still shows up same issue. So im thinking maybe Vitabright overwrited the gamma thing on factory settings or it messed up my screen. It was perfectly fine before i both

[2019-10-30 03:16] devnoname120 commented on #19
Vitabright does not change any factory settings or anything. It only applies its changes temporarily.
I think that your issue is unrelated to Vitabright, this is the first time I ever hear about this issue, and this in spite of the large user base.

Note that if you used regularly your Vita on the highest brightness setting with Vitabright enabled it would be different. But here it seems that you

[2019-10-30 03:16] #19 closed

[2019-12-20 09:50] prashantkamdar commented on #13
@devnoname120
I see this issue/bug still open since Feb.
Anything I can do to help you resolve?
Replicate the issue?

[2019-12-20 13:25] devnoname120 commented on #13
Unfortunately no. I don't know where the problem comes from and I haven't been able to get my hand on a unit in order to debug it.

[2020-02-29 10:15] RanCode commented on #13
@devnoname120 My device has same problem, I tried 0.01, 0.5, 0.9 and 1.0 version, but only 0.01version worked, you know, 0.01version only dim a bit, could you please develop new vesion based on 0.01version, thanks a lot!

[2020-03-02 04:58] revildaron opened #20 "Fix 0.1 version?"
I know some of psv 1000 doesnt work with vitabright so atleast can u fix  0.1 version because that only version work rn on it. Like fix brightness setting goes back to normal when screen on standby or put brightness setting on max without gamma table?

[2020-04-09 15:56] Feardarks commented on #20
im waiting for this too. sucks that not works on every vita

[2020-04-09 17:07] Feardarks commented on #13
still v1 doesnt works.

[2020-04-10 16:21] olokos commented on #13
@devnoname120
I am willing to do some debugging, if I don't have to tear apart the device too much! :)
It seems I would have to unglue the screen in order to reach the sticker on the display, as it's hidden beneath this plastic plate :(
My vita is in a really good condition as I was hunting for a good one for quite a bit, I am afraid it won't be after I'm done reaching that serial number. :(

[2020-04-10 16:30] CelesteBlue-dev commented on #13
I have found 2 new methods to better know the PSVita manufacturing date:
- on the motherboard, if you take a good quality photo, you can see the year and week of manufacturing. Example: if it is written 12 50 it means 50rd week of year 2012.
- In the eMMC first partitions, specifically idstorage partition, there is a timestamp. I will make a dumper someday.

[2020-04-10 16:36] olokos commented on #13
Where exactly can I find that number?

I can take a photo if I won't have to rip the screen off the plastic :D

Can I somehow get the timestamp without the dumper?

[2020-04-30 19:29] SeongGino commented on #13
Just going to add to this pool here, but slightly different from the rest.

Up until now, I was using my launch model WiFi Vita as-was. However, the passage of time wasn't kind to the display and was scratched to hell. Conveniently enough, Vitabright sort of helped with seeing the screen through the softening caused by marked glass, but I wasn't going to live with it forever.

Today (and by today,

[2020-05-11 17:48] falkenhawk commented on #13
v1.0 does not work on neither of my two `PCH-1004` vitas :((( Can I help with debugging?

[2020-05-11 18:29] falkenhawk commented on #13
I reinstalled with the version from https://github.com/devnoname120/vitabright/issues/13#issuecomment-469671030 and... it started working on **one** of my vitas! Previously I installed the plugin on both with Autoplugin II, so maybe something got borked there.

The one which works, is on 3.60, and is possibly a newer hardware than the other non-working one, which is currently on 3.65 (I doubt that

[2020-05-11 21:27] SeongGino commented on #13
Unfortunately, that isn't the case on mine.
[code]

[2020-05-12 07:37] falkenhawk commented on #13
FWIW, I downgraded the non-working one from 3.65 to 3.60 to check if it will make any difference. It didn't, it still does not work. I can post logs later if it gives any value.

[2020-05-12 07:53] prashantkamdar commented on #13
Guys,

I am the original bug reporter.
If you read through the issue in detail, it has been established that this is not a software problem (yet).
The differences lie in the screen type itself.
Due to how some screens operate, the vitabright plugin may or may not work.
I have 3 100x vitas and vitabright works on only 1 of them.

[2020-05-12 14:07] SeongGino commented on #13
But that's the entire point of the issue, though, isn't it?

Especially when the only workaround, as it stands, is to buy _more_ pricy front housing+displays, perform a full disassembly and reassembly, and then _hope_ that the display is not only still OLED (and a good quality one), but the _right kind_ of OLED. . . devaluing your own issue seems a bit counterintuitive, no?

I'm still going to wai

[2020-05-12 14:28] prashantkamdar commented on #13
hey, I wasn't meaning to devalue the issue.
all that you just said, I share the same view.
the only reason I posted it because I felt some recent comments didn't understand the entire history of the issue and how it has transpired to a more hardware issue than a software one.
I, too, am waiting for this issue to get resolved, but I believe the solution isn't going to be a proper lut table, but som

[2020-05-12 21:16] Warp1n commented on #13
Yeah it doesn't work on my vita I tried Reddit and discord henkaku but no success.

[2020-06-18 10:19] seewood commented on #13
Hello, maybe i found the solution. Can someone test it for me?
I have reset the Battery with the Battery_Fixer from SKGleba and now it works for me... after the battery fix i changed the skprx file, and no longer have the old one. But it seems to be fixed. It is a Vita 1000 without 3G.

Please do the following and report back:
- Install the Battery Fix: https://github.com/SKGleba/PSP2-batteryFixer

[2020-06-18 20:58] hamodehsabie commented on #13
I will test and reply back 👍

Sabie.

[2020-06-18 22:52] falkenhawk commented on #13
no difference here, @seewood 's trick did not help

[2020-06-20 12:40] RayCist1608 opened #21 "Vitabright causes PS Vita 2000, on 3.68, to shutdown on sleep"
I already searched and know that the plugin should work with Slim Vita on 3.68, but I've recently had the plugin and its making the Vita shutdown on sleep, I've checked with other plugins and Vitabright is causing the problem
Other plugins I have is:
Nondprm
reF00d
repatch
cpuaffinitychangger --> a plugin that allows the Vita to use all cores
music-premium --> a plugin to allow the music app to pl

[2020-06-21 01:52] #21 closed

[2020-06-26 03:02] olokos commented on #13
I also replaced  Batteryfix by @SKGleba on my original old battery and replaced it with another one later, but it made no difference.

I have the Fat one with 3G.

I believe the issue has to be that there are 2 different panels made for PSVita OLED 3G, thus why it works for some of people and doesn't for others.

I saw this before with Sony Xperia Z1, touchscreen wouldn't work for me on AOSP ROMs

[2020-06-26 09:19] juliansteenbakker opened #22 "[Improvement] Max possible brightness vitabright_lut.txt"
After some research i found that the following configuration will give you the max brightness possible. I've tested this on a PSV1004 and is working perfectly.
I didn't make the first two values (P2139 & P3139) FF because it will give a green tint over the whole screen.
[code]

[2020-06-29 17:36] zekepliskin commented on #13
I too have the issue where newer versions of VitaBright don't work.

I'm using it on a PCH-1003 model (non-3G Phat) running ensō 3.65 from coldboot.

I tried 1.0, 0.9, and the debug/comment #13 versions posted here, no joy.

The only one which does work is the oldest, 0.01.  This is fine but it would be nice if it didn't drop the brightness to minimum every time the Vita is put on sleep.  Still, I

[2020-07-07 17:55] EeugeneGG commented on #13
Hello, on mine Ps vita PCH-1104 (3.65), doesn't work vita bright(((

[2020-07-26 01:46] felixsrg commented on #13
Hello, PS Vita Fat PCH-1001 (On Enso Henkaku 3.60) also not working. But I kind of found a workaround for those of us who use the 0.01 version to set the dim brightness.

What I did was to use the StayBright plugin alongside this one and now my Vita stays on its dim brightness all the time after setting it on the quick menu.

It might not be the best solution but at least it's something for the ti

[2020-07-26 09:38] seanhalim opened #23 "Doesn't work on my 3.65 vita fat"
Can't even find the log txt file. Does nothing, screen still bright... Sad...

[2020-07-28 18:44] g1ya commented on #13
I have the 3g 1000 model and i can't get it work , only the first version works bit when i put it into sleep mode i have to reset the brightness to the lowest to get work again

[2020-08-04 14:20] legomeaker101 commented on #13
hey guys so i wanted to add something that could be of some use: i used to have the plugin working perfectly until my screen broke and i got a replacement. i got it from ali express and after installing it the plugin stopped working i tried everything but nothing worked except the 0.1 version.

hope this helps bring support to these oled panels.

[2020-10-24 21:01] devnoname120 commented on #13
Anyone in Paris willing to lend me a PS Vita for which vitabright doesn't work?
Alternatively, could someone mail one to me?

[2020-10-27 19:56] felixsrg commented on #13
I sadly live in South America and can't really mail one of the PS Vitas that I have and on which VitaBright doesn't work, but if it can be helpful, I can help you try and debug on it.

[2020-11-09 23:01] devnoname120 commented on #23
Duplicate of https://github.com/devnoname120/vitabright/issues/13

[2020-11-09 23:01] #23 closed

[2020-11-09 23:06] devnoname120 commented on #13
Rise and shine, new debugging logs for vitabright.
[vitabright.zip](https://github.com/devnoname120/vitabright/files/5513747/vitabright.zip)

@felixsrg @legomeaker101 @zekepliskin @SeongGino @falkenhawk Can you test this version?

Then:
- Reply and drag & drop here the file `ur0:/data/vitabright_log.txt`.
- Say if vitabright works for you or not.

Others you're welcome to do that as well.

[2020-11-09 23:08] devnoname120 commented on #13
I start. I have the following OLED model and it works with vitabright:

[code]

[2020-11-10 00:19] felixsrg commented on #13
Thank you for your hard work, I've just tried this one on my OLED PS Vita, here's the requested info:

- [vitabright_log.txt](https://github.com/devnoname120/vitabright/files/5513982/vitabright_log.txt)
- VitaBright is still not working, sadly.

My Vita is the following model:

`[OLED] supplier_id: 0x0000, supplier_elective_data: 0x0805`

[2020-11-10 01:27] zekepliskin commented on #13
Nice of you to say hello and grace us with a new version, thank you.  My version of the log is even less successful than the other two people who checked in, on a model PCH-1003.

We have :-

[code]vitabright started...
[OLED] brightness table parsing failure
[LCD] getmodninfo: 0x90010002
[LCD] modid: 0x000213A9
vitabright started...
[OLED] brightness table parsing failure
[LCD] getmodninfo: 0x900

[2020-11-10 16:12] legomeaker101 commented on #13
I am sadly on the same boat as felix so I cannot lend you my vita (would if I could) so here is what I got:

[vitabright_log.txt](https://github.com/devnoname120/vitabright/files/5518592/vitabright_log.txt)

it is not working.

[2020-11-10 19:52] devnoname120 commented on #13
@zekepliskin Can you put this file in `ur0:/tai/`? This file is either missing or wrong.
[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/5519846/vitabright_lut.txt)

[2020-11-10 20:55] devnoname120 commented on #13
@legomeaker101 @zekepliskin Can you guys send me a message on Discord? I'm on the [HENkaku server](https://discord.gg/8aHMCKT) with the nickname @devnoname120.

[2020-11-10 21:20] falkenhawk commented on #13
@devnoname120 logs from non-working one: [vitabright_log.txt](https://github.com/devnoname120/vitabright/files/5520188/vitabright_log.txt)

[code]
and now logs from the working one: [vitabright_log.txt](https://github.com/devnoname120/vitabright/files/5520217/vitabright_log.txt)
[code]

[2020-11-10 21:22] devnoname120 commented on #13
@falkenhawk that's helpful, can you send me a message on Discord? I'm on the HENkaku server with the nickname @devnoname120.

[2020-11-22 00:48] olokos commented on #13
[code]

I'm not sure if it works, but it's not really dim when on minimum brightness.
OLED 3G model

[2020-12-06 22:49] QUAKEULUS opened #24 "suggestion: a local vita app/overlay to modify the values on the fly?"
Thank you for making this! This was exactly what I was looking for, some ps1 games via adrenaline are quite too dark

It would be immensely helpful for experimentation to have a shorter reiteration cycle between changing the values and seeing the results. Loading and saving as multiple config files for different games/scenarios would also be immensely helpful.

[2020-12-06 23:35] devnoname120 commented on #24
Hmm I can look into that, shouldn't be too hard.

[2020-12-16 23:21] devnoname120 commented on #24
OK so here you are: [vitabright-experiments.zip](https://github.com/devnoname120/vitabright/files/5705968/vitabright-experiments.zip)

**Instructions**:
- Remove your currently installed vitabright (and vitacompanion if you have).
- Install both plugins. Install them in `config.txt` as well.
- Get the IP of your vita (you can find it by pressing select in Vitashell).
- On a PC **on the same Wi-Fi

[2020-12-16 23:31] devnoname120 commented on #22
Thanks, you might be interested in https://github.com/devnoname120/vitabright/issues/24#issuecomment-747100141 if you want to do further experiments.

[2020-12-16 23:49] devnoname120 commented on #24
Also you might want to look at these explanations: https://github.com/devnoname120/vitabright/wiki/What-is-the-format-of-the-OLED-gamma-table%3F
One column on the image is one line in `vitabright_lut.txt`.

[2020-12-16 23:53] #22 closed

[2020-12-16 23:53] devnoname120 commented on #22
Thank you for your contribution! I've added your superbright line to the default configuration.

[2020-12-20 18:39] devnoname120 commented on #24
@QUAKEULUS I've created an app making it easier: https://github.com/devnoname120/vitabright-lut-editor/releases/latest

[2020-12-20 18:39] #24 closed

[2021-01-08 13:20] Nach18 commented on #13
Same to me, I dont know what to do, Why does this happen?

[2021-01-22 05:58] pan-theo commented on #13
**Hello everyone!**

I'm excited to announce that (I think) I have found the solution!
To me it seems that this is the solution for everyone, because I have a 100X model, did the exact correct steps, and it didn't work, like everyone here, but I have yet to see the results of my supposed fix in other people's cases so I'm not certain, so I'm sorry if this doesn't fix it for you. But I'm positive i

[2021-01-22 18:23] olokos commented on #13
I just tried your idea @pan-theo but it doesn't seem to change anything.

Either the difference it too small or it's still not working with ux0/tai/vitabright.skprx either for me

The vitabright-lut-editor displays brigthness levels from 15(dimmest I can do) to 0(brightest I can do), are those the stock brightness levels or those achieved by vitabright?

[2021-01-23 06:22] pan-theo commented on #13
@olokos yo, sorry to hear that. Your issue seems to be exactly what I recently thought is a mistake that should be addressed.

For some reason, in the GitHub page of the plugin, the developer has accidentally put a "/" where there shouldn't be one, in the instructions of what to write under *KERNEL in config.txt, in "```
ur0:/tai/vitabright.skprx
[code]

[2021-01-23 06:24] pan-theo commented on #13
Code: `line_test`

[2021-01-23 06:26] pan-theo commented on #13
@olokos yo, sorry to hear that. Your issue seems to be exactly what I recently thought is a mistake that should be addressed.

For some reason, in the GitHub page of the plugin, the developer has accidentally put a "/" where there shouldn't be one, in the instructions of what to write under *KERNEL in config.txt, in "```
ur0:/tai/vitabright.skprx
[code]

[2021-01-23 06:27] pan-theo commented on #13
@olokos yo, sorry to hear that. Your issue seems to be exactly what I recently thought is a mistake that should be addressed.

For some reason, in the GitHub page of the plugin, the developer has accidentally put a "/" where there shouldn't be one, in the instructions of what to write under *KERNEL in config.txt, in "ur0:/tai/vitabright.skprx" there should not be a "/" before "tai". And also, it o

[2021-02-16 20:47] olokos commented on #13
I did the way you said it @pan-theo and my lowest is 15 brightness and highest is 0 brightness, can anybody confirm if that means vitabright works or doesn't work?

The same values are with vitabright in ux0 and ur0, so that doesn't seem to solve the problem, but definitely was worth trying out.

[2021-02-17 03:45] pan-theo commented on #13
@olokos I don't know man, I wrote exactly what I did that worked for me.
Meanwhile, this issue opened is only for some 1000 (1st model) Vitas.

It's important to note that the directories used majorly depend on the type of storage used (could be official Vita card or SD2Vita).
I use an official Sony Vita storage card, so all these instructions are based on that.

If you're using SD2Vita, then the

[2021-02-17 03:57] pan-theo commented on #13
Also, @olokos , what will show whether or not VitaBright works will be the noticeable new brightness levels. When it worked for me, there was 3 new levels before the (default) lowest one. The first will be a bit dimmer than the original (which is what is mostly needed), the 2nd one will be unexpectedly the dimmest, with a kinda weird colour (having extra green), and the 3rd (last) one, will be kin

[2021-02-26 20:08] aorestr commented on #13
Hi there! Another proud user of a 100X model with the same issue as everyone! I tried the solution proposed by @pan-theo but it sadly didn't work. Isn't there any other workaround?

[2021-03-11 03:08] ZioPao commented on #13
I've got a PCH-1004. In the log I've got the same supplier-id as @falkenhawk .
Is this still "open" or is it a wontfix at this point? Just asking, not making any requests.

[2021-03-13 06:19] MadZiontist opened #26 "Please Enable A Method To Reset To Stock Default"
I accidentally made undesirable permanent changes and now have no way to reset to factory stock. A reset option to factory default settings would be great. Another good feature would be a menu system, where the user could select from various lut table files stored on the Vita in a folder, and load them, previewing the changes.

[2021-03-13 12:42] devnoname120 commented on #26
I suggest replacing the lut file with the original one from the latest release.

[2021-03-13 12:42] #26 closed

[2021-03-13 12:43] devnoname120 commented on #20
I'm not interested in working on it. Feel free to do the changes.

[2021-03-13 14:28] MadZiontist commented on #26
Yeah I just sorted that out, thanks. But my suggestion still stands. I think a menu loading system, where different lut files can be loaded and and the changes previewed would be really cool. But that's kind of putting the cart before the horse. I think this plugin has a lot of potential. But the VPK configuration app is incredibly confusing and a clunky. It's really hard to discern what the diiff

[2021-03-24 14:57] thorry69 commented on #11
hi, the first great job, one question, this pluggin, in my psvita 2000 don't work, put in tai ur0:/tai/, dont work can help me please, my vita downgrade with moduro, 3.70>3.60, no H-encoke, Enso ok,

[2021-04-12 23:35] MadZiontist commented on #13
I thought I had got it working on my PCH-1101 Vita on 3.60 Enso, but that was just a placebo effect. It doesn't work. I've disabled the 3g module. I've tried putting at the top of my tai config, and uninstalling all other plugins, but no dice. If you can post a link to the latest debug version, I can post the log file.

[2021-04-21 20:48] sam22200 commented on #13
Same here: doesn't work on my Vita 100X 3G
And I lived in Paris @devnoname120 !

[2021-04-23 07:54] MarcoDjallo opened #27 "Blue light filter on PS Vita 2000"
Hello,

I just wanted to know if there's any possibility of obtaining a blue light filter (like f.lux) like the one you get by editing the gamma table on PS Vita 1000 also on the 2000's LCD screen.

I know there are plugins that do that, but their approach causes important FPS drops, making the games unplayable.

Thank you in each case and for all your work!

[2021-04-23 15:09] SKGleba commented on #13
precompiled binary (with fix from PR#28):
[vitabright.zip](https://github.com/devnoname120/vitabright/files/6366269/vitabright.zip)

[2021-04-23 15:26] SKGleba commented on #13
alternatively, instead of injecting, you can just write the table ptr to (SceOled+0x302c).
It seems like a cleaner solution especially if you free & inject repeatedly with the lut editor.

[2021-04-23 17:48] ZioPao commented on #13
I can confirm @SKGleba binary works on my PCH-1004. The lut editor seems to crash though. Don't know if it's only me, but it works with the currently posted relase from devwithnoname.

[2021-04-24 20:35] sam22200 commented on #13
Wow thank you @SKGleba
I confirm your version works on my PCH-1004 3G.

[2021-04-25 13:51] MadZiontist commented on #13
So far, so good...it's working on my PCH-1101. Previously the only version that worked was v0.01. This newer, fixed version works a lot better. Thanks @SKGleba!

[2021-04-25 14:33] MadZiontist opened #29 "precompiled binary (with fix from PR#28):"
precompiled binary (with fix from PR#28):
[vitabright.zip](https://github.com/devnoname120/vitabright/files/6366269/vitabright.zip)

_Originally posted by @SKGleba in https://github.com/devnoname120/vitabright/issues/13#issuecomment-825724682_

[2021-04-25 14:33] #29 closed

[2021-04-25 14:35] MadZiontist opened #30 ">Causes Vita Lut Editor To Crash"
So far, so good...it's working on my PCH-1101. Previously the only version that worked was v0.01. This newer, fixed version works a lot better. Thanks @SKGleba!

_Originally posted by @MadZiontist in https://github.com/devnoname120/vitabright/issues/13#issuecomment-826328203_

[2021-04-25 14:36] MadZiontist commented on #30
Vita Lut Editor crashes as soon as a launch is attempted.

[2021-04-26 06:26] evillurker commented on #13
I confirm this works with 3 of my vitas - 1000, and 2000 @SKGleba thank you so much

[2021-04-26 07:41] AciliBorek commented on #13
#29 Works for my 1104 while newest versions didnt. @SKGleba Thank you so much you really did a great thing.

[2021-04-26 11:43] SKGleba commented on #13
Until it gets merged ive added a fixed skprx + lut editor in https://github.com/skgleba/vitabright/releases/latest

[2021-04-26 12:13] evillurker commented on #13
You are the king!!

[2021-04-26 13:47] evillurker opened #31 "My Vitabright lut txt files"
Sharing my vitabright lut file. It has 2 night modes - orange and blue filters on lowest brightness, and 3 modes on highest brightness levels:
[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/6377528/vitabright_lut.txt)

[2021-05-17 20:49] Quad-Plex commented on #13
confirmed working on my PCH-1004. Big thanks!!

[2021-05-31 01:47] JhonnySalles commented on #30
I had the same crash problem in the previous version, but when replacing the skprx file, and then restarting it worked

[2021-05-31 01:49] JhonnySalles commented on #13
Its work in PCH-1010

[2021-06-05 08:45] Alexander-Shibanov opened #32 "A question from a large community in Russia."
Hello! We are very happy and thank you for your contribution to the development of PSV.
**Help us please** (speaking on behalf of the community)
I apologize for my English (I am writing via google translator)
In general. We install and run on PSV 1000. Everything works great, thank you very much !!!
But on PSV 2000 it works but not completely.

I explain:
As I understand it(Vitabright), there is b

[2021-06-06 11:20] ChazW opened #33 "incompatible with overclocking PSVShell"
whenever I install psvshell and use it to overclock instead of lolicon or lolicon500, games like WRC 4 wont let me set brightness pass threshold

[2021-07-29 22:20] tonyzehs commented on #13
@SKGleba Thank you, you beautiful angel. Didn't work until I installed your modded version on my PCH1001/ZA10 Vita.

[2021-08-11 01:44] coltenxxx opened #34 "Psp Vita 2000 Crash on launch of Vitabright lut editor"

[2021-08-16 05:18] ChazW commented on #33
solved by installing nopowerlimit plugin

[2021-08-16 05:18] #33 closed

[2021-12-19 17:01] evillurker opened #35 "Not working on vita 2000"
I tried all versions from the 0.01 to the latest, nothing works for vita 2000

[2022-02-07 19:48] buzeak opened #36 "My Improved Gamma Table"
Here is my improved gamma table.

[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/8017996/vitabright_lut.txt)

It is designed to be a simple upgrade to the default brightness slider.

It has five extra bright custom values, including maximum capable brightness of the screen.

Then six values taken from the default slider, including default brightest, default darkest, and ever

[2022-02-07 19:57] buzeak commented on #36
This mod also works well with these three mods:
NoPowerLimits.skprx (to use full brightness slider on all games)
nosleep.skprx (to disable sleep)
noled.skprx (to disable that annoying blue led in the PlayStation button on the front)

[2022-02-09 11:48] devnoname120 commented on #36
Thank you so much for sharing your LUT! I'll take a look later, and possibly release a new version.

[2022-02-18 16:15] devnoname120 commented on #36
@buzeak Please remind me if I don't give you an update within two weeks :)

[2022-02-18 16:59] buzeak commented on #36
OK, and you may also want to add a warning that the higher brightness may cause the vita to crash because of the increased power consumption. Even the limited brightness applications are a little brighter than they would be originally.

The chance of crashing is still very small, but if you keep getting crashes, it's good to know that it's just the brightness.

So far mine has only crashed because

[2022-03-04 16:53] buzeak commented on #36
Hi again, just reminding you like you asked, that the vitabright update has not been done and it has been two weeks.

[2022-03-05 16:19] devnoname120 commented on #36
@buzeak Super busy last 2 weeks. Still top of my mind. Will get back to you in 1-2 weeks.

[2022-03-09 17:07] devnoname120 commented on #36
Yes! Could you open an issue with those images on the lut editor repo?

[2022-03-09 18:15] #30 closed

[2022-03-09 18:17] devnoname120 commented on #20
Not needed anymore since https://github.com/devnoname120/vitabright/pull/28 adds support for remaining OLED models.

[2022-03-09 18:17] #20 closed

[2022-03-09 18:22] devnoname120 commented on #27
@MarcoDjallo I'm not sure whether it can be easily done just by interacting with the screen driver. Is there any blue light filter plugin using a shader? It should be pretty fast and not cause loss of performances.

[2022-03-09 18:37] buzeak commented on #36
I have now opened an issue on the lut editor repo with the images you requested. :+1:

[2022-03-09 19:40] buzeak commented on #36
I see that you have now committed my first improved LUT table.
But my latest and best LUT file is attached to my 4th comment above.
Did you make a mistake?

[2022-03-09 20:47] devnoname120 commented on #36
@buzeak Here is the branch with your LUT improvements: https://github.com/devnoname120/vitabright/tree/oled-support-fix

I don't have my PS Vita with me so I can't test it. Can you confirm that this updated version works properly?
[vitabright-2.0b1.zip](https://github.com/devnoname120/vitabright/files/8218111/vitabright-2.0b1.zip)

[2022-03-09 21:44] buzeak commented on #36
I have now tested it, and it does not work.

I unzipped the file in your comment,
Then I moved my working vitabright.skprx and vitabright_lut.txt out.
Then I moved the new vitabright.skprx and vitabright_lut.txt in.
Then I rebooted.
And now my vita bootloops, and I don't know how to fix it.

I have noticed that the new vitabright.skprx is 6,925 bytes.
And my working one that I just moved out is 4,

[2022-03-09 22:48] devnoname120 commented on #36
@buzeak Thanks for your report. You can start your PS Vita holding the L trigger and it will boot without plugins enabled. You can then disable Vitabright and reboot. I'll figure out the issue once I get access to a PS Vita.

[2022-03-09 23:19] buzeak commented on #36
Thank you. I have just retested it, and it is the new vitabright.skprx that does not work.
Good idea, it would be quicker to edit and test when you have a vita at hand.

[2022-03-16 14:10] devnoname120 commented on #36
@buzeak Can you test this new version?
[vitabright-2.0b2.zip](https://github.com/devnoname120/vitabright/files/8262865/vitabright-2.0b2.zip)

[2022-03-16 14:13] buzeak commented on #36
I'll have it tested in 10 minutes.👍
________________________________
From: Paul ***@***.***>
Sent: Wednesday, March 16, 2022 3:11:26 PM
To: devnoname120/vitabright ***@***.***>
Cc: Charles ***@***.***>; Mention ***@***.***>
Subject: Re: [devnoname120/vitabright] My Improved Gamma Table (Issue #36)

@buzeak<https://github.com/buzeak> Can you test this new version with your new vitabright_lut.txt fi

[2022-03-16 14:25] buzeak commented on #36
It WORKS! :+1:

I have double tested it with my latest: [vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/8263025/vitabright_lut.txt) on my old original vita :-)

[2022-03-16 14:54] devnoname120 commented on #36
@buzeak Awesome! I really like your gamma table. The only ‶disappointment″ I have is that the minimum brightness level is now too high for me in the dark. I'm okay with trading less contrast for less eye-strain.

[2022-03-16 14:56] devnoname120 commented on #13
Can you guys try this new beta version of Vitabright?
[vitabright-2.0b2.zip](https://github.com/devnoname120/vitabright/files/8263575/vitabright-2.0b2.zip)

[2022-03-16 15:02] buzeak commented on #36
@devnoname120 Are you sure you're using my latest gamma table? I think the darkest is darker than any before: 4D 48 5B EB DF EE EA C7 E9 F8 BA F3 00 00 00 00 00 00 00 00 00

Just let me know and I will make it go darker for you :-)

[2022-03-16 15:05] devnoname120 opened #37 "List of custom LUTs"
@buzeak: https://github.com/devnoname120/vitabright/issues/36

@evillurker: https://github.com/devnoname120/vitabright/issues/31

@PeL-H1N1: https://github.com/devnoname120/vitabright/issues/18

@afdc98: https://github.com/devnoname120/vitabright/issues/14

@red9350: https://github.com/devnoname120/vitabright/issues/49

[2022-03-16 15:12] devnoname120 commented on #36
@buzeak I can confirm that I wasn't using the latest one. It's much better now. Your LUT is a huge step up and makes Vitabright much better. Thanks a lot!

Regarding the previous value it was:
https://github.com/devnoname120/vitabright/blob/fcb46b8d1141e813e5d00532b772710f6b55ddf8/oled/assets/vitabright_lut.txt#L18-L19

I'm not sure if it was more or less bright than your lowest brightness.

[2022-03-16 15:14] devnoname120 commented on #36
@buzeak By the way, isn't the previous maximum brightness even brighter than your new value?

https://github.com/devnoname120/vitabright/blob/fcb46b8d1141e813e5d00532b772710f6b55ddf8/oled/assets/vitabright_lut.txt#L2

[2022-03-16 15:20] buzeak commented on #36
My dimmest is very very very similar to that one.
And the new maximum brightness is also very very very similar to that one, just balanced as you can see the E1 E1 FF at the start shows maximum blue (FF).

[2022-03-16 16:25] #36 closed

[2022-03-16 22:25] #14 closed

[2022-03-16 22:26] #18 closed

[2022-03-16 22:26] #27 closed

[2022-03-16 22:26] #31 closed

[2022-03-16 22:28] devnoname120 commented on #32
Hello, unfortunately it's not possible to increase the brightness further than the maximum on PSVita 2000 models.

[2022-03-16 22:28] #32 closed

[2022-03-16 22:28] devnoname120 commented on #35
@evillurker What do you mean with ‶nothing works″? Does the minimum brightness change or not?

[2022-03-16 23:16] buzeak commented on #36
@devnoname120 I have just made the dimmest even dimmer, so it's dark enough to play in the complete darkness. And as dim as my phone can go. I will give you the file as soon as I have finished adjusting the other brightnesses so that they step evenly.

[2022-03-16 23:17] devnoname120 commented on #36
@buzeak Great! Is the contrast still bearable?

[2022-03-16 23:22] buzeak commented on #36
@devnoname120 Yes,👍 the colours are a little weaker, but they are well balanced and good enough.

[2022-03-17 19:58] buzeak commented on #36
@devnoname120 I have now finished my 3rd (and hopefully final) lut file!

And here it is: [vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/8289897/vitabright_lut.txt)

I have spent all day working on it, and I am very happy with it. :+1:

It now has one less value from the default slider, and one less brighter custom value. So it now has two more custom values at the dimer end

[2022-03-17 20:33] devnoname120 commented on #36
Turns out I recently disabled this limit directly in Vitabright. 😬 😬
https://github.com/devnoname120/vitabright/commit/19916c88ac0441813180b1767f498d693f520957

What's your opinion on this? Should I keep the limit or not?

[2022-03-17 20:44] buzeak commented on #36
@devnoname120 I think that it 's very good that you removed the limit.👍 Just make sure that you warn everyone, because it does make my original vita crash on maximum maximum. And it would be really frustrating if you did not know the cause.🤔

[2022-03-17 21:04] devnoname120 commented on #36
@buzeak Another possibility would be to keep the limit, and let users download `NoPowerLimits.skprx` if they want to remove it (at their own risk). What would you think of this option?

I wonder how frequently the PS Vita crashes when above the limit. If it happens very frequently then it doesn't make sense to unlock the brightness anyway.

[2022-03-17 21:30] buzeak commented on #36
@devnoname120 Vitabright is an overclock for applications that are not 444 mhz anyway. So they should be warned for just that reason alone.

I don't think that my vita will ever crash at just one brightness level down from maximum.

And it does not crash if I drive a slower car, or in the menus.

I think it will only crash when the CPU, GPU and screen are all at maximum. Lots of games don't use th

[2022-03-17 23:03] buzeak commented on #36
@devnoname120 It would be ideal if you could move the limitor to disable just the brightest two settings for the Vita 1000.

And I do not know about the Vita 2000.

[2022-03-18 09:02] devnoname120 commented on #36
Actually this may be possible. I don't have a Vita with me but I'll build up a test version so that you can try it out. :)

[2022-03-18 09:48] buzeak commented on #36
That would be great! And I would give it a poper test run. A good reason to do some proper gaming.😁

[2022-03-18 12:06] devnoname120 commented on #36
@buzeak Can you try this new version? If it crashes, send me the file `ur0:/data/vitabright_log.txt`.
[vitabright-2.0b3.zip](https://github.com/devnoname120/vitabright/files/8304287/vitabright-2.0b3.zip)

[2022-03-18 12:25] devnoname120 commented on #36
@buzeak Ok here it is: [vitabright-2.0b4.zip](https://github.com/devnoname120/vitabright/files/8304412/vitabright-2.0b4.zip)

[2022-03-18 12:26] buzeak commented on #36
@devnoname120 Ok, testing it now.

[2022-03-18 12:32] buzeak commented on #36
@devnoname120 It WORKS!

It boots up, and the limiter blocks just the brightest two settings on those games.

I will give it a proper test now, to see if it crashes.

Should be about a hour of gaming! ![](https://github.githubassets.com/images/icons/emoji/unicode/1f601.png)

[2022-03-18 12:42] devnoname120 commented on #36
@buzeak Awesome thanks for testing! We'll just need someone with an LCD screen to confirm that these changes don't break it. I've made it such that for LCD screens it doesn't limit at all because I didn't have any reports of crashes.

[2022-03-18 12:47] buzeak commented on #36
@devnoname120 Awesome 👍 No crashes so far, but I'm still testing.

I do not know anyone with a Vita 2000, so I can't help there.

[2022-03-18 14:11] devnoname120 commented on #36
@buzeak Great! I confirmed with 2 testers that it doesn't crash on PS Vita 2000 (LCD) either. Is there anything else I should add/improve before releasing the new version?

[2022-03-18 14:18] buzeak commented on #36
@devnoname120 Awesome 👍. I can't think of anything else, but I do want to test if it crashes on the higher brightness setting, to see how close it is to crashing. But it seems stable at this brightness level, and I have tested it unplugged from the power supply with wifi, Bluetooth and on max valume. I just need to do a little more testing to make sure.

[2022-03-18 14:33] devnoname120 commented on #36
@buzeak OK! I'll do a release. We can always do a hotfix if needed.

[2022-03-18 14:37] buzeak commented on #36
@devnoname120 OK, good idea.👍

[2022-03-18 15:08] devnoname120 commented on #36
@buzeak https://github.com/devnoname120/vitabright/releases ✅

[2022-03-18 17:47] devnoname120 commented on #36
@buzeak Can you check if you have the same issue as him? https://github.com/devnoname120/vitabright-lut-editor/issues/6#issue-1173808435

[2022-03-18 17:53] buzeak commented on #36
@devnoname120 I have just tested NoPowerLimits.skprx, and it does not make it crash, it removes the limit just like it always did, and is still compatible with vitabright v2.0.

My vita is a PCH-1003

[2022-03-22 19:52] devnoname120 commented on #36
@buzeak can you send me the file `ur0:/data/vitabright_log.txt`?

[2022-03-22 19:56] buzeak commented on #36
@devnoname120  yes, but what do you want me to test/do first exactly?

[2022-03-23 02:39] nowhereman87 opened #40 "Redish tones on the lower levels"
Vitabright 2.0 / Vitabright-2.0b4
PSVita 1010 model

Using the table (vitabright_lut.txt) included in the new release all the dark steps look very reddish on my Vita 1010. Also bright parts of the image looks somehow "burned" on white tone, I guess because of excesive contrast.
I have tried other lut.txt shared a by redditor lasemanz here [](https://www.reddit.com/r/vitahacks/comments/swpt62/mod_v

[2022-03-23 11:20] devnoname120 commented on #36
@buzeak nothing I'm just interested in seeing your OLED model. I suspect this person has a different OLED model: https://github.com/devnoname120/vitabright/issues/40

[2022-03-23 11:54] devnoname120 opened #41 "Support OS > 3.70"
I should rely on module/library's NID instead of OS version to target the patches.

[2022-03-23 11:55] #35 closed

[2022-03-23 13:21] buzeak commented on #36
@devnoname120 I'm using the latest vitabright, but there is no ur0:/data/vitabright_log.txt
My vita is a PCH-1003, but I have just read his issue and will comment on there now.

[2022-03-23 13:54] buzeak commented on #40
Hello there, I have just read your issue, and I am the person who rebuilt that vitabright_lut.txt.

I am beginning to think that maybe my oled screen is a little less worn than yours is. How much have you used your vita?

I agree that lowering the contrast would help with the redness. But this would also make everything look more green compared to the ambient light in your room for example. Becaus

[2022-03-23 14:13] devnoname120 commented on #40
@buzeak There are 3 different OLED models. They may have different LUT tables in which case we'll need to build a different one for each.

[2022-03-23 14:13] devnoname120 commented on #36
@buzeak need to use b4, logging is disabled in release builds.

[2022-03-23 14:30] buzeak commented on #36
ok, here it is: [vitabright_log.txt](https://github.com/devnoname120/vitabright/files/8333858/vitabright_log.txt)

[2022-03-23 20:56] devnoname120 commented on #40
LUTs are different for type 4 and type 5 screens. Courtesy of @SKGleba here are the different tables.

[code]

[code]

@buzeak Do you think you could build LUTs for these two OLED screen models? I suppose you'd need to get your hand on PS Vita with a type 4 OLED screen and another one with a type 5 OLED screen.

[2022-03-23 21:13] buzeak commented on #40
My brother has a oled vita, so I could make and open a log file on his, but how would I know if it is a type 4 or 5?

[2022-03-23 21:44] devnoname120 commented on #40
@buzeak `0x0804` is type 4, and `0x0805` is type 5

[2022-04-03 20:32] SeongGino commented on #13
Unfortunately, neither the beta nor the recently released build works on my system (but still works with @SKGleba's mod).

[2022-04-04 04:56] nowhereman87 commented on #40
I wanted to report that this table (v15) provided by u/lasemanz has finally worked fine on my PSVita:

https://anonfiles.com/tb13S3Q1xa/VitaBright_Tweaked_v15_7z

There is also another one (v18), that has additional darker levels which I find useful on certain occasions, although it shows more reddish tones, and so I prefer the V15.

https://anonfiles.com/50ofKaS3x9/Vita_Bright_Tweaked_v18_7z

Red

[2022-04-04 07:48] devnoname120 commented on #13
@SeongGino Transfer the gamma table again via FTP. It probably fucked up in that step.

Excerpt from the README:

[2022-04-04 08:01] devnoname120 commented on #40
@nowhereman87 Thanks! I'll include it in the next release.

[2022-04-04 08:05] devnoname120 opened #42 "Support gamma tables transferred with FTP's text mode"
Many users don't read the README so they transfer using `text` mode rather than `binary` mode. Supporting FTP's unwanted changes to the files transferred in `text` mode will ensure that this plugin works for these users anyway.

[2022-04-04 22:38] SeongGino commented on #13
Of course, this had to be the perfect storm to cause me issue. ~~Last time I use FZ on Linux...~~
=w='
Fixed now, confirmed works, new lut table is perfect. So sorry for stirring an empty pot.

[2022-04-05 11:19] devnoname120 commented on #13
@SeongGino Np! I'll try to make the LUT parsing more resilient so that it can be properly read even with bad transfers.

[2022-05-05 01:20] rfarkv opened #43 "Your releases are not working on my OLED Vita but SKGleba fork does"
None of your releases are working on my OLED Vita but [this one](https://github.com/skgleba/vitabright/releases/tag/v1.2c) works.

3.60 enso
PCH-1000 WiFi (0x00010000) OLED

[2022-05-12 22:26] JosePepowner commented on #40
I have the 05 OLED vita and have the same red tint. I noticed using v15 there is a blue tint but using the default one is very very red. I will also use the v15 one for now as it works well. I think it might need tweaking to the blues though.

[2022-05-20 03:04] xDeadlock opened #44 "Gradual and conservative vitabright_lut.txt"
Hello just sharing my vitabright_lut which tries to replicate the original colors of the Vita
Although the vitabright can increse the "brightness" through the gamma table i think this plugin is awesome to try color calibrating your vita display's to your liking, this one works very well for me.
[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/8735579/vitabright_lut.txt)

[2022-05-28 08:17] tonyzehs commented on #44
Hi, It worked great! Smooth, consistent and balanced curve though not offering a very wide brightness range for late night use, for example.
However I noticed that the .txt file you sent need an empty line-18 in order to function properly (I was wondering why the Vita LUT editor keeps crashing)

[2022-05-28 08:30] xDeadlock commented on #44
Sorry about that and thanks for trying and for report the issue with the table file. Here is the file edited to include the 18 empt line for future users. If anybody read this in the future please try this one to avoid crashes
[vitabright_lut.txt](https://github.com/devnoname120/vitabright/files/8790761/vitabright_lut.txt)
.

[2022-05-28 09:30] tonyzehs commented on #40
The V15 version worked perfectly for mine. The colors are very much balanced and the obnoxious red tint is no more.

However, a few lower brightness levels for me are still a tiny bit blue-tinted so **I adjusted them ever so slightly.**
**I added my own lowest brightness setting** as well and swapped out the brightest setting in V15 since I mainly use mine inside or during nighttime.
[vitabright_l

[2022-05-29 10:11] devnoname120 commented on #40
@buzeak Can you review this table? 🙏
I'm super interested in your feedback because you're the LUT expert. Do you think it's better than yours or not?

[2022-05-29 10:19] buzeak commented on #40
@devnoname120  Sorry, my vita is not working at the moment. But I can assure you that my LUT was very close to absolute perfection on my vita.

[2022-05-31 08:43] devnoname120 commented on #44
@xDeadlock @tonyzehs Can you compare with this LUT and tell me what you think?
https://raw.githubusercontent.com/devnoname120/vitabright/master/oled/assets/vitabright_lut.txt

[2022-06-01 01:40] tonyzehs commented on #44
@devnoname120 Brightness level 9-15 (darker levels) for my panel has an extreme red tint.
But again mine is the batch of panels in the olden days that needed a special Vitabright fork to work (until the 2.0 update.)

This is one I personally modified based on another LUT profile for my panel specifically.
It has been working perfectly for mine ever since, with a dedicated brightness 15 Low brightn

[2022-09-27 10:14] AnotherRandomPlayer opened #45 "Blue light filter won´t turn on."
I tried reinstalling the plugin multiple times, and nothing. The blue light filter won´t turn on (I tried sliding to the minimum in every way possible), or at least, it is not as notable as some videos show it.

Vitabright Lut Editor won´t load either, as it displays an error.

I also tried installing mulltiple vitabright_lut.txt files, but I am unable to differentiate it.

I have the plugin insta

[2022-10-19 13:58] Icon125 opened #46 "Blue light filter on Slim Vitas?"
Is it possible to get the blue light filter working on Slim Vitas?
I've used two different Lut files and I can't get it working.
I can't find anything in your documentation which confirms whether it works or not, perhaps you could update the first page.

[2022-10-19 14:57] devnoname120 commented on #46
Nope you can't. Use something like vFlux.

[2022-10-19 14:57] #46 closed